body {
	font-family: Roboto, sans-serif;
	margin: 0px;
	padding: 0px;
	background-size: 100%;
}

#kill_hud {
	width: 300px;
	height: 200px;
	position: fixed;
	left: 50%;
	margin-left: -150px;
	margin-bottom: 100px;
	bottom: 0;
	text-align: center;
	color: white;
	text-shadow: 1px 1px 1px #00000040;
}

#death_name {
	font-size: 18px;
	position: absolute;
	width: 100%;
	margin-top: 5px;
}

#total_score {
	font-size: 32px;
	position: absolute;
	width: 100%;
	margin-top: 30px;
}

#score_feed {
	font-size: 15px;
	max-height: 63px;
	overflow: hidden;
	position: absolute;
	width: 100%;
	margin-top: 70px;
}

.score_feed_item {
	display: block;
	margin: 3px;
}

#death_counts {
	height: 30px;
}

.death_count {
	display: inline-block;
	width: 25px;
	height: 30px;
	background-size: 100% auto;
	background-repeat: no-repeat;
	margin: 0px 3px;
}

.death_count_white {
	background-image: url("images/skull_white.png");
}

.death_count_red {
	background-image: url("images/skull_red.png");
}

.damage_indicator {
	background-image: url("images/indicator.png");
	width: 512px;
	height: 512px;
	background-size: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#kill_notifications {
	position: absolute;
	right: 0;
	text-align: right;
	height: 235px;
	color: white;
	margin-top: 50px;
	margin-right: 50px;
	overflow: clip;
	display: flex;
	flex-direction: column-reverse;
	align-items: start;
}

.kill_notification {
	display: block;
	margin: 10px;
	width: 100%;
}

.kill_notification_killer,
.kill_notification_dead {
	font-weight: 700;
	color: rgb(124, 155, 202);
}

.kill_notification_action {
	margin: 10px;
}

.kill_notification_dead {

}

.kill_notification_headshot {
	width: 20px;
    height: 25px;
    display: inline-block;
    background-image: url("images/skull_white.png");
    background-size: 100%;
    margin: -7px 10px -7px -5px;
}